{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Error</h1>
    <p>Sorry, an error has occurred: <strong>{{error}}</strong>. Please try your request again later.</p>
</div>
{% endblock %}