{% import "bootstrap/wtf.html" as wtf %}

{% extends "base.html" %}

{% block title %}
Baruch Corpus -- Add
{% endblock %}

{% block content %}

    {% if demographics %}
    {% include 'demographics_info.html' %}
    {% else %}
    {{ wtf.quick_form(form2, button_map={"submit":"primary"}) }}
    {% endif %}

    <div class="container">
        <hr class="my-4">


        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    {{ wtf.quick_form(form, button_map={"submit":"primary"}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}