{% from "macros.html" import nav_link with context %}
<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">


        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">

        <script src="{{ url_for('static', filename='js/modernizr-2.8.3-respond-1.4.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

        <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        /* Set the width of the side navigation to 250px and the left margin of the page content to 250px */
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
        }

        /* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
        }
        </script>

    </head>
    <body>
        <div class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a href="{{ url_for('index') }}" class="navbar-brand">Baruch Corpus</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        {{ nav_link('corpus_add','Add to corpus') }}
                        {{ nav_link('corpus_view','View corpus') }}
                    </ul>
                    <ul class="nav navbar-nav ml-auto">
                        {% if not current_user.is_anonymous %}<li class="nav-item"><span class="nav-link text-info">Hi {{ current_user.first_name }}</span></li>{% endif %}
                        <li class="nav-item">
                            {% if current_user.is_anonymous %}
                            <a href="{{ url_for('login') }}" class="btn btn-success">Login</a>
                            {% else %}
                            <a href="{{ url_for('logout') }}" class="btn btn-danger">Logout</a>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">

            <div class="bs-docs-section">

                        {% block content %}
                        {% endblock %}
            </div>

            {% include 'flash_msgs.html' %}

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../static/js/jquery-1.11.2.min.js"><\/script>')</script>


        </div>
    </body>
</html>
