{% extends "base.html" %}

{% block title %}
Baruch Corpus -- Search
{% endblock %}

{% block content %}

     <div id="mySidenav" class="sidenav">
     <form action="">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">Close</a>

      <div class="form-group">
        <label for="exampleSelect1">Class level</label>
        <select class="form-control" id="exampleSelect1">
          <option>Freshman</option>
          <option>Sophomore</option>
          <option>Junior</option>
          <option>Senior</option>
        </select>
      </div>

      <fieldset class="form-group">
        <label>Nativeness</label>
        <div class="form-check">
          <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="option1" checked>
            Native English speaker
          </label>
        </div>
        <div class="form-check">
        <label class="form-check-label">
            <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2" value="option2">
            Non-native English speaker
          </label>
        </div>
      </fieldset>

      <a href="javascript:void(0)" class="btn btn-primary" onclick="">Filter</a>
     </form>
    </div>

    <!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
    <div id="main">
        <div class="bs-component">
            <form class="form-inline" action="">
                  <div class="form-group">
                    <input type="text" class="form-control" id="search" placeholder="Enter your search term.">
                  </div>
                  <button type="submit" class="btn btn-default">Submit</button>
                  &nbsp;
                  <a href="javascript:void(0)" class="btn-link" onclick="openNav()">More filter options</a>
            </form>
        </div>

        <hr class="my-4">

        <div class="bs-component">
            <table class="table table-hover table-bordered table-condensed">
              <thead>
                <tr>
                    <th scope="col">Download</th>
                    <th scope="col">Title</th>
                    <th scope="col">Paper Type</th>
                    <th scope="col">Draft</th>
                    <th scope="col">Number of words</th>
                    <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>

                   {% for item in texts %}
                   <tr>
                  <td>
                    <div class="form-check">
                          <input class="form-check-input" type="checkbox" value="">
                     </div>
                  </td>
                  <td><a class="btn-link" href="{{ url_for('corpus_text', id=item.id) }}" data-toggle="tooltip" data-placement="right" title="Language: {{ item.demographics.language_lookup.name }} &#013;Country: {{ item.demographics.country_lookup.name }}">{{ item.title }}</a></td>
                  <td>{{ item.papertype.name }}</td>
                  <td>{{ item.draft }}</td>
                  <td>{{ item.num_words }}</td>
                  <td>{{ item.uploaded_time }}</td>
                  </tr>
                   {% endfor %}
              </tbody>
            </table>
        </div>
    </div>
{% endblock %}