{% extends "base.html" %}

{% block title %}
Baruch Corpus -- View text
{% endblock %}

{% block content %}

    {% include 'demographics_info.html' %}

    <div class="container">
        <hr class="my-4">

        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <p><strong>Title:</strong> {{ item.title }}</p>
                    <p><strong>Text:</strong></p>
                    <p>{{ item.text|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}