    <div class="container">
        {% if request.endpoint and request.endpoint.endswith('corpus_add') %}
        <div class="row">
            <div class="col-lg-4">
                <p><strong>Name:</strong> {{ demographics.student.first_name }} {{ demographics.student.last_name }}</p>
            </div>
            <div class="col-lg-4">
                <p><strong>Birthday:</strong> Jan 1, 1975</p>
            </div>
            <div class="col-lg-4"> &nbsp;</div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-lg-4">
                <p><strong>Major:</strong> {{ demographics.major.name }} </p>
            </div>
            <div class="col-lg-4">
                <p><strong>Class:</strong> freshman</p>
            </div>
            <div class="col-lg-4">
                <p><strong>Country:</strong> {{ demographics.country_lookup.name }} </p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12" align="right">

            {% if current_user.user_type == 'S' %}
            <a class="btn btn-default" href="javascript:void( window.open( '{{ url_for('personal_info') }}', 'blank', 'scrollbars=yes, toolbar=no, location=no, titlebar=no, width=800, height=500' ) ) "> Edit</a>
            {% endif %}
            </div>
        </div>
    </div>
