    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="container">
        {% for category, message in messages %}
          <div class="alert alert-dismissible alert-{{category}}">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>{{ message }}</strong>
          </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}