{% extends "base.html" %}

{% block title %}
Baruch Corpus -- Welcome
{% endblock %}

{% block content %}
    <div class="bs-component">
        <div class="jumbotron">
            <h1 class="display-3">The Baruch Corpus Project</h1>
            <p class="lead">This is a BETA version of a project to create a corpus of undergraduate writing at Baruch College.</p>
            <hr class="my-4">
            <p>Click one of the below buttons to get started.</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="{{ url_for('corpus_add') }}">Add to the corpus</a>
                <a class="btn btn-success btn-lg" href="{{ url_for('corpus_view') }}">Search the corpus</a>
            </p>
        </div>
    </div>
{% endblock %}
