{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/utils.html" as utils %}

{% extends "base.html" %}

{% block title %}
Baruch Corpus -- {{ title }}
{% endblock %}

    {% block content %}
        <div class="bs-component">
            <div class="jumbotron">
                 <h1>The Baruch Corpus Project</h1>
                 {{ wtf.quick_form(form, button_map={"submit":"primary"}) }}
            </div>
        </div>
    {% endblock %}

