{% macro nav_link(endpoint, text) %}
    <li class="nav-item">
      <a class="nav-link {% if request.endpoint and request.endpoint.endswith(endpoint) %}active{% endif %}" href="{{ url_for(endpoint) }}">{{text}} {% if request.endpoint and request.endpoint.endswith(endpoint) %}<span class="sr-only">(current)</span>{% endif %}</a>
    </li>
{% endmacro %}